@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: CalSans;
    font-style: semibold;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/CalSans-SemiBold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: Geist;
    font-style: Regular;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Geist-Regular.woff2") format("woff2");
  }
  /* body{
    color: #f0f0f0;
  } */

.fc-daygrid{
  z-index: 10;
}